.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%

}

ul{
    display: inline-flex;
    width: auto;
    margin-right: 120px;
}

li{
    width: 100px;
    list-style: none;
    color: #1A1A1A;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 60px;
}

.active{
    text-decoration: solid;
}
